

{%set supplementary_fields_schema%}

rawdata: {
			type: 'file',
			title: 'RawData'

		},
sample_location_facility: {
type: 'string',
title: 'SAMPLE LOCATION FACILITY'
},
SAFETY_CONSTRAINTS: {
type: 'string',
title: 'SAFETY CONSTRAINTS',
},
STORAGE_DETAILS: {
type: 'string',
title: 'STORAGE DETAILS',
},
SUBSTANCE : {
type: 'string',
title: 'SUBSTANCE ',
},
HOST_AGE: {
type: 'string',
title: 'HOST AGE',
},
MAIN_EVENT_AGE: {
type: 'string',
title: 'MAIN EVENT AGE',
},
OTHER_EVENT_AGE: {
type: 'string',
title: 'OTHER EVENT AGE',
},
ALTERATION_DEGREE: {
type: 'string',
title: 'ALTERATION_DEGREE',
},
HOST_LITHOLOGY_OR_PROTOLITH: {
type: 'string',
title: 'HOST_LITHOLOGY_OR_PROTOLITH',
},

"sampling_points": {

			"type": "array",
			"minItems":1,
			"items": {

				"properties": {
					"NAME": {
						"type": "string",
						"title": "Sampling point name"


					},
					"COORDINATE_SYSTEM": {
						"type": "string",
						"title": "COORDINATE SYSTEM",
						"enum": [ "","Lambert93", "WGS84 Greenwich" ]



					},
					"ABBREVIATION": {
						"type": "string",
						"title": "ABBREVIATION"


					},
					"LONGITUDE": {
						"type": "string",
						"title": "LONGITUDE (decimal)"


					},
					"LATITUDE": {
						"type": "string",
						"title": "LATITUDE (decimal)"


					},
					"ELEVATION_M": {
						"type": "string",
						"title": "ELEVATION (meter)"

					},
					
					"SAMPLING": {
						"type": "string",
						"title": "sampling (centimeter)",


					},
					
					"DESCRIPTION": {
						"type": "string",
						"title": "DESCRIPTION",


					}
				
			}
			}
		},
"methodology": {
			"type": "array",
			"maxItems":1,
			"items": {
				"properties": {
					"SAMPLING_METHOD": {
						"type": "string",
						"title": "SAMPLING_METHOD",


					},
					"CONDITIONNING": {
						"type": "string",
						"title": "CONDITIONNING",


					},
					"SAMPLE_STORAGE": {
						"type": "string",
						"title": "SAMPLE_STORAGE",

					},
					
				}
				
			}
		},

"methodology2": {
			"type": "array",
			
			"items": {
		"properties": {
				"Nature": {
						"type": "string",
						"title": "Nature",

					},
					
					
				}
}},

"methodology3": {
			"type": "array",
			
			"items": {
		"properties": {
			
					
					"description": {
						"type": "string",
						"title": "description",

					}
				}
}},




lithology1: {
type: 'string',
},
lithology2: {
type: 'string',
},
lithology3: {
type: 'string',
},


texture1: {
type: 'string',
},
texture2: {
type: 'string',
},
texture3: {
type: 'string',
},

oretype1: {
type: 'string',
},
oretype2: {
type: 'string',
},
oretype3: {
type: 'string',
},


   "core": {
      "type": "string",
      "title": "Core",
      "enum": [ "Yes", "No" ]
    },

core_depth: {
type: 'string',
},
core_azimut: {
type: 'string',
},
core_dip: {
type: 'string',
},

 "pulp": {
      "type": "string",
      "title": "Pulp",
      "enum": [ "Yes", "No" ]
    },

   "block": {
      "type": "string",
      "title": "Block",
      "enum": [ "Yes", "No" ]
    },




{%endset%}




{%set supplementary_fields_form%}
{
			"key": "rawdata"
			
			
		},
{
	      "type": "advancedfieldset",
	      "title":"Supplementary fields",
	      "items": [

				
				{
				"key": "sample_location_facility",
				"htmlClass": "ui-input",
				"value":""
				},
				{
				"key": "SAFETY_CONSTRAINTS",
				"htmlClass": "ui-input",
				"value":""
				},
				{
				"key": "STORAGE_DETAILS",
				"htmlClass": "ui-input",
				"value":""
				},
				{
				"key": "SUBSTANCE",
				"htmlClass": "ui-input",
				"value":""
				},
				{
				"key": "HOST_AGE",
				"htmlClass": "ui-input",
				"value":""
				},
				{
				"key": "MAIN_EVENT_AGE",
				"htmlClass": "ui-input",
				"value":""
				},
				{
				"key": "OTHER_EVENT_AGE",
				"htmlClass": "ui-input",
				"value":""
				},




				{
				"key": "ALTERATION_DEGREE",
				"htmlClass": "ui-input",
				"value":""
				},
				{
				"key": "HOST_LITHOLOGY_OR_PROTOLITH",
				"htmlClass": "ui-input",
				"value":""
				},
				{
"key": "core",
"type":"radios",
 "onChange": function (evt) {
        var value = $(evt.target).val();
        if (value=='Yes') {
        $('.form-group.jsonform-error-core_depth').removeClass("hidden field");
        $('.form-group.jsonform-error-core_azimut').removeClass("hidden field");
        $('.form-group.jsonform-error-core_dip').removeClass("hidden field");
        }
        else{
        $('.form-group.jsonform-error-core_depth').addClass("hidden field");
        $('.form-group.jsonform-error-core_azimut').addClass("hidden field");
        $('.form-group.jsonform-error-core_dip').addClass("hidden field");
        }
      }
},
{
"key": "core_depth",
"htmlClass": "hidden field",
"value":""
},
{
"key": "core_azimut",
"htmlClass": "hidden field",
"value":""
},
{
"key": "core_dip",
"htmlClass": "hidden field",
"value":""
},

{
"key": "pulp",
"type":"radios"
},
{
"key": "block",
"type":"radios"
},
				]
			},
{
	      "type": "advancedfieldset",
	      "title":"Sampling point",
	      "htmlClass":"sampling_point",
	      "items": [
			{
			"type": "section",
			"items": {
				"type": "section",
				"items": [
					"sampling_points[].NAME",
					"sampling_points[].COORDINATE_SYSTEM",
					"sampling_points[].ABBREVIATION",
					"sampling_points[].LONGITUDE",
					"sampling_points[].LATITUDE",
					"sampling_points[].ELEVATION_M",
					"sampling_points[].SAMPLING",
					"sampling_points[].DESCRIPTION"


				]
			}
		}]
		},
		{
	      "type": "advancedfieldset",
	      "title":"Methodology",
	      "items": [
			{
			"type": "section",
			"items": {
				"type": "section",
				"items": [
					"methodology[].SAMPLING_METHOD",
					"methodology[].CONDITIONNING",
					"methodology[].SAMPLE_STORAGE"


				]
			}
		},
		{
		"type": "array",
		"htmlClass":"methodology2",
			"items": {
				"type": "section",
				"items": [
					"methodology2[].Nature",
					"methodology3[].description"


				]
				}
			
		}

		]


		},

{
	      "type": "advancedfieldset",
	      "title":"Lithology",
	      "items": [
			

{
      "type": "lithology",
      "value": '<div class="form-group jsonform-error-lithology1 ui-input"> <label for="jsonform-1-elt-lithology1">Lithology 1</label> <select id="jsonform-1-elt-lithology1" name="lithology1">{%if edit and lithology1%}<option value="{{lithology1}}">{{lithology1}}</option> {%endif%}<option value="">--</option><option value="MAGMATIC_INTRUSIVE">MAGMATIC_INTRUSIVE</option> <option value="MAGMATIC_EXTRUSIVE">MAGMATIC_EXTRUSIVE</option> <option value="METAMORPHIC">METAMORPHIC</option> <option value="METASOMATIC_AND_OR_HYDROTHERMAL">METASOMATIC_AND_OR_HYDROTHERMAL</option> <option value="NON_SEDIMENTARY_SURFACE_PHENOMENA_DRIVEN_LITHOFACIES">NON_SEDIMENTARY_SURFACE_PHENOMENA_DRIVEN_LITHOFACIES</option> <option value="PEDOGENETIC">PEDOGENETIC</option> <option value="SEDIMENTARY">SEDIMENTARY</option> </select> </div> <div class="form-group jsonform-error-lithology2 ui-input"> <label for="jsonform-1-elt-lithology2">Lithology 2</label> <select id="jsonform-1-elt-lithology2" name="lithology2">{%if edit and lithology2%}<option value="{{lithology2}}">{{lithology2}}</option> {%endif%} <option value="">--</option> <option value="FELSIC" class="MAGMATIC_INTRUSIVE">FELSIC</option> <option value="INTERMEDIATE" class="MAGMATIC_INTRUSIVE">INTERMEDIATE</option> <option value="MAFIC" class="MAGMATIC_INTRUSIVE">MAFIC</option> <option value="UNDERSATURATED" class="MAGMATIC_INTRUSIVE">UNDERSATURATED</option> <option value="ULTRAMAFIC" class="MAGMATIC_INTRUSIVE">ULTRAMAFIC</option> <option value="LAVAS_FLOWS" class="MAGMATIC_EXTRUSIVE">LAVAS_FLOWS</option> <option value="VOLCANICLASTIC _ROCKS_EPICLASTS_EXCLUDED" class="MAGMATIC_EXTRUSIVE">VOLCANICLASTIC _ROCKS_EPICLASTS_EXCLUDED</option> <option value="BURIAL" class="METAMORPHIC">BURIAL</option> <option value="OROGENIC" class="METAMORPHIC">OROGENIC</option> <option value="CONTACT" class="METAMORPHIC">CONTACT</option> <option value="IMPACT_BRECCIA" class="METAMORPHIC">IMPACT_BRECCIA</option> <option value="AUTOCHTONOUS_ALTERITE" class="PEDOGENETIC">AUTOCHTONOUS_ALTERITE</option> <option value="ALLOCHTONOUS_ALTERITE" class="SEDIMENTARY">ALLOCHTONOUS_ALTERITE</option> <option value="SILICICLASTIC" class="SEDIMENTARY">SILICICLASTIC</option> <option value="OTHER_TERRIGENOUS_CLASTIC" class="SEDIMENTARY">OTHER_TERRIGENOUS_CLASTIC</option> <option value="CARBONATES" class="SEDIMENTARY">CARBONATES</option> <option value="OTHER_CHEMICAL_BIOCHEMICAL_ROCKS" class="SEDIMENTARY">OTHER_CHEMICAL_BIOCHEMICAL_ROCKS</option> </select> </div> <div class="form-group jsonform-error-lithology3 ui-input"> <label for="jsonform-1-elt-lithology3">Lithology 3</label> <select id="jsonform-1-elt-lithology3" name="lithology3">{%if edit and lithology3%}<option value="{{lithology3}}">{{lithology3}}</option> {%endif%} <option value="">--</option> <option value="FELSIC" class="LAVAS_FLOWS">FELSIC</option> <option value="INTERMEDIATE" class="LAVAS_FLOWS">INTERMEDIATE</option> <option value="MAFIC" class="LAVAS_FLOWS">MAFIC</option> <option value="UNDERSATURATED" class="LAVAS_FLOWS">UNDERSATURATED</option> <option value="ULTRAMAFIC" class="LAVAS_FLOWS">ULTRAMAFIC</option> <option value="ZEOLITE_FACIES" class="BURIAL">ZEOLITE_FACIES</option> <option value="PREHNITE-PUMPELLYITE_FACIES" class="BURIAL">PREHNITE-PUMPELLYITE_FACIES</option> <option value="BLUESCHIST_FACIES" class="OROGENIC">BLUESCHIST_FACIES</option> <option value="GREENSCHIST_FACIES" class="OROGENIC">GREENSCHIST_FACIES</option> <option value="AMPHIBOLITE_FACIES" class="OROGENIC">AMPHIBOLITE_FACIES</option> <option value="GRANULITE_FACIES" class="OROGENIC">GRANULITE_FACIES</option> <option value="ECLOGITE_FACIES" class="OROGENIC">ECLOGITE_FACIES</option> <option value="TOPSOIL" class="AUTOCHTONOUS_ALTERITE">TOPSOIL</option> <option value="DURICRUST" class="AUTOCHTONOUS_ALTERITE_PEDOGENETIC">DURICRUST</option> <option value="LIMONITE" class="AUTOCHTONOUS_ALTERITE">LIMONITE</option> <option value="MOTTLED_ZONE" class="AUTOCHTONOUS_ALTERITE">MOTTLED_ZONE</option> <option value="SAPROLITE" class="AUTOCHTONOUS_ALTERITE">SAPROLITE</option> <option value="SAPROCK" class="AUTOCHTONOUS_ALTERITE">SAPROCK</option> <option value="BEDROCK" class="AUTOCHTONOUS_ALTERITE">BEDROCK</option> <option value="SURFICIAL_DEPOSITS" class="ALLOCHTONOUS_ALTERITE">SURFICIAL_DEPOSITS</option> <option value="CONGLOMERATE" class="SILICICLASTIC">CONGLOMERATE</option> <option value="SANDSTONE" class="SILICICLASTIC">SANDSTONE</option> <option value="SILTITE" class="SILICICLASTIC">SILTITE</option> <option value="ARGILITE" class="SILICICLASTIC">ARGILITE</option> <option value="LIMESTONE" class="CARBONATES">LIMESTONE</option> <option value="DOLOSTONE" class="CARBONATES">DOLOSTONE</option> </select> </div>'
    },
]},
{
	      "type": "advancedfieldset",
	      "title":"Texture ",
	      "items": [
			



    {
      "type": "texture",
      "value": '<div class="form-group jsonform-error-texture1 ui-input"> <label for="jsonform-1-elt-texture1">TEXTURE STRUCTURE 1</label> <select id="jsonform-1-elt-texture1" name="texture1"> {%if edit and texture1%}<option value="{{texture1}}">{{texture1}}</option> {%endif%}<option value="">--</option> <option value="MAGMATIC_TEXTURE">MAGMATIC_TEXTURE</option> <option value="SEDIMENTARY_STRUCTURE">SEDIMENTARY_STRUCTURE</option> <option value="METAMORPHIC_TEXTURE">METAMORPHIC_TEXTURE</option> <option value="TECTONIC_TECTONOMETAMORPHIC_DAMAGE">TECTONIC_TECTONOMETAMORPHIC_DAMAGE</option> <option value="HYDROTHERMAL_ACTIVITY_IMPRINT">HYDROTHERMAL_ACTIVITY_IMPRINT</option> <option value="SUPERGENE_WEATHERING_STRUCTURE">SUPERGENE_WEATHERING_STRUCTURE</option> <option value="OREBODY_STRUCTURE">OREBODY_STRUCTURE</option> <option value="IMPACT_BRECCIA">IMPACT_BRECCIA</option> </select> </div> <div class="form-group jsonform-error-texture2 ui-input"> <label for="jsonform-1-elt-texture2">TEXTURE STRUCTURE 2</label> <select id="jsonform-1-elt-texture2" name="texture2">{%if edit and texture2%}<option value="{{texture2}}">{{texture2}}</option> {%endif%} <option value="">--</option> <option value="PHANERITIC" class="MAGMATIC_TEXTURE">PHANERITIC</option> <option value="APHANITIC" class="MAGMATIC_TEXTURE">APHANITIC</option> <option value="GLASSY" class="MAGMATIC_TEXTURE">GLASSY</option> <option value="PORPHYRIC" class="MAGMATIC_TEXTURE">PORPHYRIC</option> <option value="PEGMATITIC" class="MAGMATIC_TEXTURE">PEGMATITIC</option> <option value="LAYERED" class="MAGMATIC_TEXTURE">LAYERED</option> <option value="FLOW_ORIENTED_FOLDED" class="MAGMATIC_TEXTURE">FLOW_ORIENTED_FOLDED</option> <option value="BRECCIA_INCLUDING_ATTRITION BRECCIA" class="MAGMATIC_TEXTURE">BRECCIA_INCLUDING_ATTRITION BRECCIA</option> <option value="DIRECTIONAL_CURRENT_STRUCTURES" class="SEDIMENTARY_STRUCTURE">DIRECTIONAL_CURRENT_STRUCTURES</option> <option value="OSCILLATORY_CURRENT_STRUCTURES" class="SEDIMENTARY_STRUCTURE">OSCILLATORY_CURRENT_STRUCTURES</option> <option value="SOFT_SEDIMENT_DEFORMATION_STRUCTURES" class="SEDIMENTARY_STRUCTURE">SOFT_SEDIMENT_DEFORMATION_STRUCTURES</option> <option value="GRAVITY_FLOW_STRUCTURES" class="SEDIMENTARY_STRUCTURE">GRAVITY_FLOW_STRUCTURES</option> <option value="BIOTURBATION_AND_TRACE_FOSSIL_TYPES" class="SEDIMENTARY_STRUCTURE">BIOTURBATION_AND_TRACE_FOSSIL_TYPES</option> <option value="BIOLOGICAL_INDUCED_BEDDING" class="SEDIMENTARY_STRUCTURE">BIOLOGICAL_INDUCED_BEDDING</option> <option value="SLATY_CLEAVAGE" class="METAMORPHIC_TEXTURE">SLATY_CLEAVAGE</option> <option value="SCHISTOSITY" class="METAMORPHIC_TEXTURE">SCHISTOSITY</option> <option value="GNEISSIC" class="METAMORPHIC_TEXTURE">GNEISSIC</option> <option value="GRANULITIC" class="METAMORPHIC_TEXTURE">GRANULITIC</option> <option value="MIGMATITIC" class="METAMORPHIC_TEXTURE">MIGMATITIC</option> <option value="MARBLES" class="METAMORPHIC_TEXTURE">MARBLES</option> <option value="SLATY_CLEAVAGE" class="METAMORPHIC_TEXTURE">SLATY_CLEAVAGE</option> <option value="SCHISTOSITY" class="METAMORPHIC_TEXTURE">SCHISTOSITY</option> <option value="GNEISSIC" class="METAMORPHIC_TEXTURE">GNEISSIC</option> <option value="GRANULITIC" class="METAMORPHIC_TEXTURE">GRANULITIC</option> <option value="MIGMATITIC" class="METAMORPHIC_TEXTURE">MIGMATITIC</option> <option value="MARBLES" class="METAMORPHIC_TEXTURE">MARBLES</option> <option value="FOLDED" class="TECTONIC_TECTONOMETAMORPHIC_DAMAGE">FOLDED</option> <option value="PRESENCE_OF_JOINTS" class="TECTONIC_TECTONOMETAMORPHIC_DAMAGE">PRESENCE_OF_JOINTS</option> <option value="STOCKWORK" class="TECTONIC_TECTONOMETAMORPHIC_DAMAGE">STOCKWORK</option> <option value="FAULT_DAMAGE_ZONE" class="TECTONIC_TECTONOMETAMORPHIC_DAMAGE">FAULT_DAMAGE_ZONE</option> <option value="COHESIVE_CATACLASITE" class="TECTONIC_TECTONOMETAMORPHIC_DAMAGE">COHESIVE_CATACLASITE</option> <option value="NON_COHESIVE_CATACLASITE" class="TECTONIC_TECTONOMETAMORPHIC_DAMAGE">NON_COHESIVE_CATACLASITE</option> <option value="FAULT_BRECCIA" class="TECTONIC_TECTONOMETAMORPHIC_DAMAGE">FAULT_BRECCIA</option> <option value="FAULT_GOUGE" class="TECTONIC_TECTONOMETAMORPHIC_DAMAGE">FAULT_GOUGE</option> <option value="MYLONITE_BLASTOMYLONITE" class="TECTONIC_TECTONOMETAMORPHIC_DAMAGE">MYLONITE_BLASTOMYLONITE</option> <option value="PSEUDOTACHYLYTE" class="TECTONIC_TECTONOMETAMORPHIC_DAMAGE">PSEUDOTACHYLYTE</option> <option value="ALTERED_ZONE" class="HYDROTHERMAL_ACTIVITY_IMPRINT">ALTERED_ZONE</option> <option value="PRESENCE_OF_VEIN_FILLING" class="HYDROTHERMAL_ACTIVITY_IMPRINT">PRESENCE_OF_VEIN_FILLING</option> <option value="KARST" class="SUPERGENE_WEATHERING_STRUCTURE">KARST</option> <option value="1D_PIPE" class="OREBODY_STRUCTURE">1D_PIPE</option> <option value="2D_VEIN" class="OREBODY_STRUCTURE">2D_VEIN</option> <option value="2D_STRATIFORM" class="OREBODY_STRUCTURE">2D_STRATIFORM</option> <option value="3D_STOCKWORK" class="OREBODY_STRUCTURE">3D_STOCKWORK</option> <option value="3D_DISSEMINATION" class="OREBODY_STRUCTURE">3D_DISSEMINATION</option> <option value="3D_MASSIVE" class="OREBODY_STRUCTURE">3D_MASSIVE</option> </select> </div> <div class="form-group jsonform-error-texture3 ui-input"> <label for="jsonform-1-elt-texture3">TEXTURE STRUCTURE 3</label> <select id="jsonform-1-elt-texture3" name="texture3"> {%if edit and texture3%}<option value="{{texture3}}">{{texture3}}</option> {%endif%}<option value="">--</option> </select> </div>'
    }]},
    {
	      "type": "advancedfieldset",
	      "title":"ORE TYPE",
	      "items": [
			


    {
      "type": "ore_type",
      "value": '<div class="form-group jsonform-error-oretype1 ui-input"> <label for="jsonform-1-elt-oretype1">ORE_TYPE 1</label> <select id="jsonform-1-elt-oretype1" name="oretype1"> {%if edit and oretype1%}<option value="{{oretype1}}">{{oretype1}}</option> {%endif%}<option value="">--</option> <option value="MAGMATOGENIC">MAGMATOGENIC</option> <option value="METAMORPHIC">METAMORPHIC</option> <option value="HYDROTHERMAL">HYDROTHERMAL</option> <option value="SUPERGENE">SUPERGENE</option> </select> </div> <div class="form-group jsonform-error-oretype2 ui-input"> <label for="jsonform-1-elt-oretype2">ORE_TYPE 2</label> <select id="jsonform-1-elt-oretype2" name="oretype2">{%if edit and oretype2%}<option value="{{oretype2}}">{{oretype2}}</option> {%endif%} <option value="">--</option> <option value="FELSIC_HOST" class="MAGMATOGENIC">FELSIC_HOST</option> <option value="ALKALINE_PERALKALINE_HOST" class="MAGMATOGENIC">ALKALINE_PERALKALINE_HOST</option> <option value="PEGMATITES" class="MAGMATOGENIC">PEGMATITES</option> <option value="MAFIC_HOST" class="MAGMATOGENIC">MAFIC_HOST</option> <option value="ULTRAMAFIC_HOST" class="MAGMATOGENIC">ULTRAMAFIC_HOST</option> <option value="REGIONAL" class="METAMORPHIC">REGIONAL</option> <option value="CONTACT" class="METAMORPHIC">CONTACT</option> <option value="MAGMATIC_HYDROTHERMAL" class="HYDROTHERMAL">MAGMATIC_HYDROTHERMAL</option> <option value="METASOMATIC" class="HYDROTHERMAL">METASOMATIC</option> <option value="METAMORPHOGENIC_HYDROTHERMAL" class="HYDROTHERMAL">METAMORPHOGENIC_HYDROTHERMAL</option> <option value="EPITHERMAL_AU" class="HYDROTHERMAL">EPITHERMAL_AU</option> <option value="OTHER_INTRUSION_RELATED_LODES" class="HYDROTHERMAL">OTHER_INTRUSION_RELATED_LODES</option> <option value="VOLCANOGENIC_MASSIVE_SULFIDE_DEPOSITS" class="HYDROTHERMAL">VOLCANOGENIC_MASSIVE_SULFIDE_DEPOSITS</option> <option value="SEDIMENT_HOSTED_MASSIVE_SULFIDE_DEPOSITS" class="HYDROTHERMAL">SEDIMENT_HOSTED_MASSIVE_SULFIDE_DEPOSITS</option> <option value="DIAGENETIC_HYDROTHERMAL" class="HYDROTHERMAL">DIAGENETIC_HYDROTHERMAL</option> <option value="AUTOCHTONOUS_SEDIMENTARY_SYNGENETIC_DIAGENETIC" class="SUPERGENE">AUTOCHTONOUS_SEDIMENTARY_SYNGENETIC_DIAGENETIC</option> <option value="ALLOCHTONOUS_RESIDUAL_BY_MECHANICAL_SORTING" class="SUPERGENE">ALLOCHTONOUS_RESIDUAL_BY_MECHANICAL_SORTING</option> <option value="PRECIPITATES_BY_EVAPOTRANSPIRATION" class="SUPERGENE">PRECIPITATES_BY_EVAPOTRANSPIRATION</option> <option value="REDOX_INFILTRATION" class="SUPERGENE">REDOX_INFILTRATION</option> <option value="SUPERGENE_ENRICHMENT" class="SUPERGENE">SUPERGENE_ENRICHMENT</option> </select> </div> <div class="form-group jsonform-error-oretype3 ui-input"> <label for="jsonform-1-elt-oretype3">ORE_TYPE 3</label> <select id="jsonform-1-elt-oretype3" name="oretype3"> {%if edit and oretype3%}<option value="{{oretype3}}">{{oretype3}}</option> {%endif%}<option value="">--</option> <option value="INTRUSIONS" class="ULTRAMAFIC_HOST">INTRUSIONS</option> <option value="KIMBERLITES" class="ULTRAMAFIC_HOST">KIMBERLITES</option> <option value="KOMATIITES_LAMPROITES" class="ULTRAMAFIC_HOST">KOMATIITES_LAMPROITES</option> <option value="PEGMATITES" class="MAGMATIC_HYDROTHERMAL">PEGMATITES</option> <option value="GREISENS" class="MAGMATIC_HYDROTHERMAL">GREISENS</option> <option value="PORPHYRIES" class="MAGMATIC_HYDROTHERMAL">PORPHYRIES</option> <option value="STRUCTURALLY_CONTROLLED_BRECCIA" class="MAGMATIC_HYDROTHERMAL">STRUCTURALLY_CONTROLLED_BRECCIA</option> <option value="SKARNS" class="METASOMATIC">SKARNS</option> <option value="ALCALINE" class="METASOMATIC">ALCALINE</option> <option value="STRATABOUND_REPLACEMENT" class="METASOMATIC">STRATABOUND_REPLACEMENT</option> <option value="OROGENIC_GOLD" class="METAMORPHOGENIC_HYDROTHERMAL">OROGENIC_GOLD</option> <option value="OTHERS" class="METAMORPHOGENIC_HYDROTHERMAL">OTHERS</option> <option value="LOW_SULFIDATION" class="EPITHERMAL_AU">LOW_SULFIDATION</option> <option value="HIGH_SULFIDATION" class="EPITHERMAL_AU">HIGH_SULFIDATION</option> <option value="OCEAN_RIDGE_RELATED" class="VOLCANOGENIC_MASSIVE_SULFIDE_DEPOSITS">OCEAN_RIDGE_RELATED</option> <option value="ARC_RELATED" class="VOLCANOGENIC_MASSIVE_SULFIDE_DEPOSITS">ARC_RELATED</option> <option value="UNCONFORMITY_RELATED_U" class="DIAGENETIC_HYDROTHERMAL">UNCONFORMITY_RELATED_U</option> <option value="CARBONATE_ROCK_HOSTED" class="DIAGENETIC_HYDROTHERMAL">CARBONATE_ROCK_HOSTED</option> <option value="SANDSTONE_HOSTED" class="DIAGENETIC_HYDROTHERMAL">SANDSTONE_HOSTED</option> <option value="BLACK_SHALE_HOSTED" class="DIAGENETIC_HYDROTHERMAL">BLACK_SHALE_HOSTED</option> <option value="BIFS" class="AUTOCHTONOUS_SEDIMENTARY_SYNGENETIC_DIAGENETIC">BIFS</option> <option value="MN_HYDROXYDES" class="AUTOCHTONOUS_SEDIMENTARY_SYNGENETIC_DIAGENETIC">MN_HYDROXYDES</option> <option value="POLYMETALLIC_NODULES" class="AUTOCHTONOUS_SEDIMENTARY_SYNGENETIC_DIAGENETIC">POLYMETALLIC_NODULES</option> <option value="OOLITHIC_IRON" class="AUTOCHTONOUS_SEDIMENTARY_SYNGENETIC_DIAGENETIC">OOLITHIC_IRON</option> <option value="EVAPORITES_BRINES" class="AUTOCHTONOUS_SEDIMENTARY_SYNGENETIC_DIAGENETIC">EVAPORITES_BRINES</option> <option value="PLACERS" class="ALLOCHTONOUS_RESIDUAL_BY_MECHANICAL_SORTING">PLACERS</option> <option value="ORGANIC_MATTER" class="ALLOCHTONOUS_RESIDUAL_BY_MECHANICAL_SORTING">ORGANIC_MATTER</option> <option value="CALCRETE_SILCRETE_GYPSCRETE" class="PRECIPITATES_BY_EVAPOTRANSPIRATION">CALCRETE_SILCRETE_GYPSCRETE</option> <option value="ROLL_FRONTS" class="REDOX_INFILTRATION">ROLL_FRONTS</option> <option value="CEMENTATION" class="REDOX_INFILTRATION">CEMENTATION</option> <option value="GOSSAN" class="SUPERGENE_ENRICHMENT">GOSSAN</option> <option value="NI_LATERITES" class="SUPERGENE_ENRICHMENT">NI_LATERITES</option> <option value="IRON_ORE" class="SUPERGENE_ENRICHMENT">IRON_ORE</option> <option value="BAUXITES" class="SUPERGENE_ENRICHMENT">BAUXITES</option> <option value="OTHERS" class="SUPERGENE_ENRICHMENT">OTHERS</option> </select> </div>'
    }]}



   
{%endset%}



{%set list_measurements%}
["Select abbreviation","PHY-CHEM",
]


{%endset%}



{%set supplementary_fields_value%}

		"sample_location_facility": "{{sample_location_facility|raw}}",
		"SAFETY_CONSTRAINTS": "{{safety_constraints|raw}}",
		"STORAGE_DETAILS": "{{storage_details|raw}}",
		"SUBSTANCE": "{{substance|raw}}",
		"HOST_AGE": "{{host_age|raw}}",
		"MAIN_EVENT_AGE": "{{main_event_age|raw}}",
		"OTHER_EVENT_AGE": "{{other_event_age|raw}}",
		"ALTERATION_DEGREE": "{{alteration_degree|raw}}",
		"HOST_LITHOLOGY_OR_PROTOLITH": "{{host_lithology_or_protolith|raw}}",
		"block":"{{block}}",
		"pulp":"{{pulp}}",
		"core":"{{core}}",

		 "methodology2": [
    {%for methodology in methodology_custom%}
    {%if methodology.NAME != "SAMPLING_METHOD" and methodology.NAME != "CONDITIONNING" and methodology.NAME != "SAMPLE_STORAGE"%}

       {"Nature": "{{methodology.NAME|raw}}"},

      {%endif%}

    {%endfor%}
      ],

       "methodology3": [
    {%for methodology in methodology_custom%}
    {%if methodology.NAME != "SAMPLING_METHOD" and methodology.NAME != "CONDITIONNING" and methodology.NAME != "SAMPLE_STORAGE"%}

       {"description": "{{methodology.DESCRIPTION|raw}}"},

      {%endif%}

    {%endfor%}
      ],



{%endset%}





{% include 'form_general.html.twig' %}
