
{% include 'header.html.twig' %}
<body>

 <div class="ui grid container ">
   <div class="row"></div>
   <div class="row">
    <h1 class="ui dividing header">Hello {{name}} {{firstname}}</h1>
  </div>
</div>

<div class="ui middle aligned center aligned grid">
  <div class="column" id="login">
    <div class="row"></div>

    <div class="row"></div>
    {%if post %}
    {%if error !="Password updated successfully" %}
    <div class="ui negative message">
      <div class="header">
      {{error}}      </div>
    </p></div>
    {%else%}
    <div class="ui positive message">
      <div class="header">
      {{error}}      </div>
    </p></div>

    {%endif%}
    {%endif%}
    {%if message%}
    <div class="ui positive message">
      <div class="header">
      {{message}}</div>
    </div>
    {%endif%}

    {%if admin%}
    <a href="listusers"><button type="submit" class="ui fluid large black submit button">Go to administration panel</button></a>
    {%endif%}
    <form class="ui large form myaccount" method="post" action="/myaccount">
      <div class="ui error message"></div>
      <div class="ui stacked segment">
       <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="text" name="name" value="{{name}}"" placeholder="Name">
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="text" name="firstname" value="{{firstname}}" placeholder="Firstname">
        </div>
      </div>
      
      <button type="submit" class="ui fluid large teal submit button">Update my account</button>
    </div>
    <input type="hidden" name="csrf_name" value="{{name_CSRF}}">
    <input type="hidden" name="csrf_value" value="{{value_CSRF}}">


  </form>

  <form class="ui large form " method="post" action="/resetpassword">
    <button type="submit" class="ui fluid large red submit button">Reset my password</button>
    <input type="hidden" name="csrf_name" value="{{name_CSRF}}">
    <input type="hidden" name="csrf_value" value="{{value_CSRF}}">


  </form>



  
</div>
</div>

</body>
<script type="text/javascript">
  APP.modules.account.check_myaccount();
</script>
<style type="text/css">
#connect-orcid-button{
  border: 1px solid #D3D3D3;
  padding: .3em;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 3px #999;
  cursor: pointer;
  color: #999;
  font-weight: bold;
  font-size: .8em;
  line-height: 24px;
  vertical-align: middle;
}

#connect-orcid-button:hover{
  border: 1px solid #338caf;
  color: #338caf;
}

#orcid-id-logo{
  display: block;
  margin: 0 .5em 0 0;
  padding: 0;
  float: left;
}

</style>
{% include 'footer.html.twig' %}
