{% include 'header.html.twig' %}
	
<script type="text/javascript" src="/jsonform/jquery.min.js"></script>
<script type="text/javascript" src="/jsonform/underscore.js"></script>
<script type="text/javascript" src="/jsonform/jsv.js"></script>
<script type="text/javascript" src="/jsonform/jsonform.js"></script>
<script type="text/javascript" src="/js/jquery.chained.js"></script>
<script type="text/javascript" src="/js/jquery.csv.js"></script>
<script type="text/javascript" src="/js/datepicker.js"></script>

  <script src="/css/semantic/dist/semantic.min.js">
  </script>
<link rel="stylesheet" type="text/css" href="/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/jsonform/css/bootstrap.css" />
<div class="ui grid container">
	<div class="row">
    <h1 class="ui dividing header">Upload new data</h1>
  </div>
	<div class="ui twelve wide column centered ">
	<div id="inputs" class="ui ten wide column">
   <a href="/template_meta/template_meta_{{collection_name}}.csv"> <div class="text" >Download metadata template<i  id="donwloadmetadata" class="download large blue icon"> </i></div> </a>
   <div class="text" id="file-select-button">Click here to import metadata from a csv file<i id="uploadmetadata" class="upload large green icon"></i></div> 
   <input hidden type="file" id="metadatafile" name="metadata" />
  </div>
   <div id="warning" class="ui fourteen wide column centered">
      {% if error %}
      <div class="ui warning message">
         <div class="header">
            Warning!  
         </div>
         {{error}}
      </div>
      {% endif %}
		<form method="post" action="/{{route}}" class="ui form" name="form" enctype="multipart/form-data">
			





		<div class="ui error message"></div>
		<a href="javascript:history.back();" class="ui red button"><i class="cancel icon"></i>Cancel</a>
<button type="submit" class="ui submit right floated green  button"><i class="checkmark icon"></i>Submit</button>
{%if edit%}
		<a onclick="remove();" class="ui  black  button"><i class="trash alternate icon"></i>Remove</a>		
{%endif%}
</form>		
	</div>
</div>

 <div class="ui modal remove">
     <i class="close icon"></i>
     <div class="header">
     </div>
     <div class="content">       
     </div>
 </div>

<script type="text/javascript">
	 $("body").on("click", ".delete", function(e) {
                  $(this).parent("div").remove();
              });
	function remove(){
		 $(".modal.remove .header").empty();
         $(".modal.remove .content").empty();
         $(".modal.remove .header").append('Are you sure to remove {{id}} ?  ');
         $(".modal.remove .content").append('<form class="ui form " action="/delete_data" method="post"><input type="hidden" name="csrf_name" value="{{name_CSRF}}"><input type="hidden" name="csrf_value" value="{{value_CSRF}}"><input type="hidden" name="id" value="{{id}}"> <div class="actions"> <div class="ui black deny button"> Cancel </div> <button class="ui submit green button" >Yes</button> </div> </form>');
         $('.ui.modal.remove').modal('show');
	}
	JSONForm.fieldTypes['file_data_already_uploaded'] = {
		  template: '<%=node.value%>'
		};

	JSONForm.fieldTypes['lithology'] = {
		  template: '<%=node.value%>'
		};
		JSONForm.fieldTypes['texture'] = {
		  template: '<%=node.value%>'
		};
		JSONForm.fieldTypes['ore_type'] = {
		  template: '<%=node.value%>'
		};
		
		$('form').jsonForm({% include 'form_'~collection_name~'.html.twig' %});

		function switch_measurement(){

				value= $( "select[name='measurements[].abbreviation']" ).val();
				if (value!='Select abbreviation') {


				{%if collection_name == 'petrophysics'%}
				switch (value) {
				  case 'AMS':
					  nature="Anisotropy of Magnetic Susceptibility without ferrofluid" ;
					  unit="SI" ;
				   break;
				   case 'Tcond-D':
					  nature="Thermal Conductivity dry" ;
					  unit="W/m/K" ;
				   break;
				   case 'Tdif-D':
					  nature="Thermal Diffusivity dry" ;
					  unit="mm2/s" ;
				   break;
				   case 'P-Wave-D':
					  nature="P-wave Velocity dry" ;
					  unit="m/s" ;
				   break;
				   case 'S-Wave-D':
					  nature="S-wave Velocity dry" ;
					  unit="m/s" ;
				   break;
				   case 'GD':
					  nature="Grain Density";
					  unit="g/cm3" ;
				   break;
				   case 'Porosity-TW':
					  nature="Triple Weight Porosity" ;
					  unit="%" ;
				   break;
				   case 'Porosity-He':
					  nature="Helium Porosity" ;
					  unit="%" ;
				   break;
				   case 'Perm-Ni':
					  nature="Permeability Nitrogen" ;
					  unit="m2" ;
				   break;
				   case 'AMS-ferro':
					  nature="Anisotropty of Magnetic Susceptibility with ferrofluid saturation" ;
					  unit="SI" ;
				   break;
				   case 'Porosity-Hg':
					  nature="Mercury Porosity" ;
					  unit="%" ;
				   break;
				   case 'GD-powder':
					  nature="Grain Density with powder porphyriser" ;
					  unit="g/cm3" ;
				   break;
				   case 'S-Wave-W':
					  nature="S-wave Velocity wet" ;
					  unit="m/s" ;
				   break;
				   case 'SHC':
					  nature="Specific Heat Capacity" ;
					  unit="kJ/kg/K" ;
				   break;
				   case 'Tdif-W':
					  nature="Thermal Diffusivity wet" ;
					  unit="mm2/s" ;
				   break;
				   case 'Tcond-W':
					  nature="Thermal Conductivity wet" ;
					  unit="W/m/K" ;
				   break;
				   case 'Perm-F':
					  nature="Field Permeameter" ;
					  unit="m2" ;
				   break;
				   case 'P-Wave-W':
					  nature="P-wave Velocity wet" ;
					  unit="m/s" ;
				   break;
				     case 'MS':
					  nature="Magnetic susceptibility" ;
					  unit="SI" ;
				   break;
				 
				}
				{%endif%}

				{%if collection_name == 'scandium'%}
				switch (value) {
				 
				   case 'BGC':
					  nature="BULK_GEOCHEM" ;
					  unit="%WT_AND_PPMWT" ;
				   break;
				   case 'EMPA':
					  nature="ELECTRONIC_MICROPROBE" ;
					  unit="%WT" ;
				   break;
				   case 'LAICPMS':
					  nature="LA-ICP-MS" ;
					  unit="PPMWT" ;
				   break;
				 
				}

				{%endif%}


				{%if collection_name == 'acev'%}
				switch (value) {
				   case 'PHY-CHEM':
					  nature="PHY-CHEM" ;
					  unit="Text" ;
				   break;				 
				}

				{%endif%}


				$( "input[name='measurements[].nature']" ).val(nature);
				$( "input[name='measurements[].unit']" ).val(unit);
			}
		  
		
		}

		 $(function() {
		 	$("input[name='data[]']").change(function(){
		 		if ($("input[name='sample_name']").val()=="") {
		 			value=$("input[name='data[]']").val().split('_')
		 			$("input[name='sample_name']").val(value[0].replace("C:\\fakepath\\",""));

		 		}else{
		 			value=$("input[name='data[]']").val().split('_')
					sample=value[0].replace("C:\\fakepath\\","")
					if($("input[name='sample_name']").val()!=sample){
						alert('File name not match')
						$("input[name='data[]']").val('')
					}

		 		}
			 });
		 	$('.ui.accordion')
			  .accordion()
			  $( ".submit" ).click(function() {
				 $('.ui.accordion').each(function(i){
				    $(this).parent().accordion('open',i);
				});
			});
			  $('[name="sampling_date"]').datepicker({ format: 'yyyy-mm-dd'});

			$("input[name='core']").click(function(){

			var block=$("input[name='core']:checked").val();
            if(block=='Yes'){
                var radios = $('input:radio[name=block]');
                radios.filter('[value=No]').prop('checked', true);
                console.log("test")
                

            }else{
            	 var radios = $('input:radio[name=block]');
                radios.filter('[value=No]').prop('checked', false);

            }
        });
				$("input[name='block']").click(function(){

			var core=$("input[name='block']:checked").val();
            if(core=='Yes'){
                var radios = $('input:radio[name=core]');
                radios.filter('[value=No]').prop('checked', true);
                $('.form-group.jsonform-error-core_depth').addClass("hidden field");
        $('.form-group.jsonform-error-core_azimut').addClass("hidden field");
        $('.form-group.jsonform-error-core_dip').addClass("hidden field");

            }else{
            	 var radios = $('input:radio[name=core]');
                radios.filter('[value=No]').prop('checked', false);

            }
        });

			
		$("#jsonform-1-elt-lithology2").chained("#jsonform-1-elt-lithology1");
		$("#jsonform-1-elt-lithology3").chained("#jsonform-1-elt-lithology2");
		$("#jsonform-1-elt-texture2").chained("#jsonform-1-elt-texture1");
		$("#jsonform-1-elt-texture3").chained("#jsonform-1-elt-texture2");
		$("#jsonform-1-elt-oretype2").chained("#jsonform-1-elt-oretype1");
		$("#jsonform-1-elt-oretype3").chained("#jsonform-1-elt-oretype2");
		$( "select[name='measurements[].abbreviation']" ).change(function() {
			switch_measurement();

		});

	});

$('.ui.form')
  .form({
    fields: {

data:{
	identifier: 'data',
	rules:[
	{
        type   : 'regExp',
        value  : '/^(.*.((csv|xlsx)$))?[^.]*$/i',
        prompt : 'Please upload a file in suggested format (CSV,XLSX)'
      }
 ]
},
pictures:{
	identifier: 'pictures',
	rules:[
	{
        type   : 'regExp',
        value  : '/^(.*.((jpeg|gif|png|tiff|tif|jpg)$))?[^.]*$/i',
        prompt : 'Please upload a file in suggested format (JPEG,GIF,PNG,TIF)'
      }
 ]
},

      title: {
        identifier: 'title',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a title'
          }
        ]
      },
      
       sample_name: {
        identifier: 'sample_name',
        rules: [
          {
            type   : 'regExp[/^(?!_)[A-z0-9](?!_)*((-|)(?!_)*(?!_)[A-z0-9])*$/]',
            prompt : 'Please enter a sample name'
          }
        ]
      },
       sampling_date: {
        identifier: 'sampling_date',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a sampling date'
          }
        ]
      },
       keywords: {
        identifier: 'keywords[0].keyword',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter at least one keyword'
          }
        ]
      },
       institutions: {
        identifier: 'institution[0].institution',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter at least one institution'
          }
        ]
      },

       description: {
                          identifier: 'description',
                          rules: [{
                              type: 'empty',
                              prompt: 'Please enter description'
                          }]
                      },

       measurements: {
                          identifier: 'measurements.abbreviation',
                          rules: [{
                              type: 'doesntContain[Select abbreviation]',
                              prompt: 'Please enter measurement abbreviation'
                          }]
                      },

       scientific_field: {
                          identifier: 'scientific_fields[0].scientific_field',
                          rules: [{
                              type: 'empty',
                              prompt: 'Please enter a scientific field'
                          }]
        },

       institutions: {
                          identifier: 'institution[0].institution',
                          rules: [{
                              type: 'empty',
                              prompt: 'Please enter institution'
                          }]
                      },
        sampling_points_name: {
                          identifier: 'sampling_points.NAME',
                          rules: [{
                              type: 'empty',
                              prompt: 'Please enter sampling point name'
                          }]
                      },
          sampling_points_COORDINATE_SYSTEM: {
                          identifier: 'sampling_points.COORDINATE_SYSTEM',
                          rules: [{
                              type: 'empty',
                              prompt: 'Please enter sampling point COORDINATE SYSTEM'
                          }]
                      },
         sampling_points_ABBREVIATION: {
                          identifier: 'sampling_points.ABBREVIATION',
                          rules: [{
                              type: 'empty',
                              prompt: 'Please enter sampling point ABBREVIATION'
                          }]
            },

           sampling_points_LONGITUDE: {
                          identifier: 'sampling_points.LONGITUDE',
                          rules: [{
                              type: 'regExp[/^(\\-?\\d+(\\.\\d+)?).\\s*(\\-?\\d+(\\.\\d+)?)$/]',
                              prompt: 'Please enter sampling point LONGITUDE'
                          }]
             },
            sampling_points_LATITUDE: {
                          identifier: 'sampling_points.LATITUDE',
                          rules: [{
                              type: 'regExp[/^(\\-?\\d+(\\.\\d+)?).\\s*(\\-?\\d+(\\.\\d+)?)$/]',
                              prompt: 'Please enter sampling point LATITUDE'
                          }]
             },
             sampling_points_ELEVATION: {
                          identifier: 'sampling_points.ELEVATION_M',
                          rules: [{
                              type: 'number',
                              prompt: 'Please enter sampling point ELEVATION'
                          }]
             },
               core: {
                          identifier: 'core',
                          rules: [{
                              type: 'checked',
                              prompt: 'Please specify core'
                          }]
             },
        
          block: {
                          identifier: 'block',
                          rules: [{
                              type: 'checked',
                              prompt: 'Please specify block'
                          }]
             },
            
        
        
      
    }
  })
;



$('.ui.dropdown[name*="scientific_fields"]')
  .dropdown({
    allowAdditions: true,
  })
;
$('.ui.dropdown[name*="institution"]')
  .dropdown({
    allowAdditions: true
  })
;
      $('.institutions div.text').html('Select a field or type one ')
      $('.scientific_fields div.text').html('Select a field or type one')

  {%for key,institution in institutions%}
        $('.institutions div.text').html('')

  if ($('.institutions input.search')[{{key}}].value=="") {
 
      $('.institutions input.search')[{{key}}].value='{{institution.NAME}}'
      $($('.institutions select')[{{key}}]).append('<option selected="selected" value="{{institution.NAME}}">{{institution.NAME}}</option>')
  }
;
    {%endfor%}

   {%for key,scientific_field in scientific_fields%}
         $('.scientific_fields div.text').html('')


  if ($('.scientific_fields input.search')[{{key}}].value=="") {
      $('.scientific_fields input.search')[{{key}}].value='{{scientific_field.NAME}}'
            $($('.scientific_fields select')[{{key}}]).append('<option selected="selected" value="{{scientific_field.NAME}}">{{scientific_field.NAME}}</option>')

   
  }
;
    {%endfor%}

      {%if measurement_abbv%}

     $('select[name*=measurements]').val('{{measurement_abbv}}');
     switch_measurement();
  

    {%endif%}

     {%if methodology_sampling%}

     $('input[name*=methodology]')[0].value='{{methodology_sampling}}';
  

    {%endif%}

     {%if methodology_conditionning%}

     $('input[name*=methodology]')[1].value='{{methodology_conditionning}}';
  

    {%endif%}

     {%if methodology_sample_storage%}

     $('input[name*=methodology]')[2].value='{{methodology_sample_storage}}';
  

    {%endif%}

	{%if sampling_points%}
	{%for key,sampling_point in sampling_points%}
		{%for key,sampling_point in sampling_point%}

     $('.sampling_point input[name*={{key}}]').val('{{sampling_point}}');
     {%endfor%}
      {%endfor%}
  

    {%endif%}

function handleFileSelect(evt) {
                  $('#inputs #filenamemetadata').remove();
                  var files = evt.target.files; // FileList object
                  var file = files[0];
                  if (file['type'] == 'text/csv') {
                      var reader = new FileReader();
                      reader.readAsText(file);
                      reader.onload = function(event) {
                          var csv = event.target.result;
                          console.log(csv)
                          var data = $.csv.toArrays(csv);
                          if (data.length == 0) {
                              alert('Your CSV file is empty!')
                          } else {
                              if ($("input[name='title']").val() != "") {
                                  $('form')[1].reset();
                              }
                              $('.delete').parent().remove();
                              name = "";
                              firstname = "";
                              mail = "";
                              keyword=0;
                              institutions=0;
                              $.each(data, function(index, values) {
                                  $.each(values, function(index, value) {
                                      if (value != "") {
                                          if (value == "TITLE") {
                                              $("input[name='title']").val(values[1]);
                                          }
                                           if (value == "SAMPLE_NAME") {
                                              $("input[name='sample_name']").val(values[1]);
                                          }
                                           if (value == "SAMPLING_DATE") {
                                              $("input[name='sampling_date']").val(values[1]);
                                          }

                                            if (value == "SAMPLE_LOCATION_FACILITY") {
                                              $("input[name='sample_location_facility']").val(values[1]);
                                          }
                                            if (value == "SAFETY_CONSTRAINTS") {
                                              $("input[name='SAFETY_CONSTRAINTS']").val(values[1]);
                                          }
                                            if (value == "STORAGE_DETAILS") {
                                              $("input[name='STORAGE_DETAILS']").val(values[1]);
                                          }
                                            if (value == "SUBSTANCE") {
                                              $("input[name='SUBSTANCE']").val(values[1]);
                                          }
                                            if (value == "HOST_AGE") {
                                              $("input[name='HOST_AGE']").val(values[1]);
                                          }
                                            if (value == "MAIN_EVENT_AGE") {
                                              $("input[name='MAIN_EVENT_AGE']").val(values[1]);
                                          }
                                            if (value == "OTHER_EVENT_AGE") {
                                              $("input[name='OTHER_EVENT_AGE']").val(values[1]);
                                          }
                                            if (value == "ALTERATION_DEGREE") {
                                              $("input[name='ALTERATION_DEGREE']").val(values[1]);
                                          }
                                            if (value == "HOST_LITHOLOGY_OR_PROTOLITH") {
                                              $("input[name='HOST_LITHOLOGY_OR_PROTOLITH']").val(values[1]);
                                          }

                                           if (value == "LITHOLOGY") {
                                              $("select[name='lithology1']").val(values[1]);
                                          }
                                           if (value == "LITHOLOGY_2") {
                                           	   $("select[name='lithology2']").prop('disabled', false);
                                           	   var o = new Option(values[1], values[1]);
												$(o).html(values[1]);
												$("select[name='lithology2']").append(o);
												$("select[name='lithology2']").val(values[1]);

                                          }
                                           if (value == "LITHOLOGY_3") {
                                           	$("select[name='lithology3']").prop('disabled', false);
                                           	var o = new Option(values[1], values[1]);
												$(o).html(values[1]);
												$("select[name='lithology3']").append(o);
												$("select[name='lithology3']").val(values[1]);
                                          }

                                           if (value == "TEXTURE_STRUCTURE_1") {
                                              $("select[name='texture1']").val(values[1]);
                                          }
                                           if (value == "TEXTURE_STRUCTURE_2") {
                                           	   $("select[name='texture2']").prop('disabled', false);
                                           	   var o = new Option(values[1], values[1]);
												$(o).html(values[1]);
												$("select[name='texture2']").append(o);
												$("select[name='texture2']").val(values[1]);

                                          }
                                           if (value == "TEXTURE_STRUCTURE_3") {
                                           	$("select[name='texture3']").prop('disabled', false);
                                           	var o = new Option(values[1], values[1]);
												$(o).html(values[1]);
												$("select[name='texture3']").append(o);
												$("select[name='texture3']").val(values[1]);
                                          }

                                          if (value == "ORE_TYPE_1") {
                                              $("select[name='oretype1']").val(values[1]);
                                          }
                                           if (value == "ORE_TYPE_2") {
                                           	   $("select[name='oretype2']").prop('disabled', false);
                                           	   var o = new Option(values[1], values[1]);
												$(o).html(values[1]);
												$("select[name='oretype2']").append(o);
												$("select[name='oretype2']").val(values[1]);

                                          }
                                           if (value == "ORE_TYPE_3") {
                                           	$("select[name='oretype3']").prop('disabled', false);
                                           	var o = new Option(values[1], values[1]);
												$(o).html(values[1]);
												$("select[name='oretype3']").append(o);
												$("select[name='oretype3']").val(values[1]);
                                          }
                                          

                                           if (value == "SAMPLING_POINT") {
                                              $("input[name='sampling_points[].NAME']").val(values[1]);
                                              $("select[name='sampling_points[].COORDINATE_SYSTEM']").val(values[2]);
                                              $("input[name='sampling_points[].ABBREVIATION']").val(values[3]);
                                              $("input[name='sampling_points[].LONGITUDE']").val(values[4]);
                                              $("input[name='sampling_points[].LATITUDE']").val(values[5]);
                                              $("input[name='sampling_points[].ELEVATION_M']").val(values[6]);
                                              $("input[name='sampling_points[].DESCRIPTION']").val(values[7]);
                                              $("input[name='sampling_points[].SAMPLING']").val(values[8]);

                                              if ($("select[name='sampling_points[].COORDINATE_SYSTEM']").val()==null) {
                                              	  $("select[name='sampling_points[].COORDINATE_SYSTEM']").val('WGS84 Greenwich');

                                              }




                                          }
                                           if (value == "MEASUREMENT") {
                                              $("input[name='measurements[].nature']").val(values[1]);
                                              $("select[name='measurements[].abbreviation']").val(values[2]);
                                              if ($("select[name='measurements[].abbreviation']").val()==null) {
                                              	  $("select[name='measurements[].abbreviation']").val('Select abbreviation');
                                              	   $("input[name='measurements[].nature']").val(null);
                                              	   $("input[name='measurements[].unit']").val(null);
                                              }
                                              $("input[name='measurements[].unit']").val(values[3]);
                                          }
                                           if (value == "CORE") {

                                           	if(values[1].toUpperCase()=='YES'){
								                var radios = $('input:radio[name=core]');
								                radios.filter('[value=Yes]').prop('checked', true);
								                 $('.form-group.jsonform-error-core_depth').removeClass("hidden field");
										        $('.form-group.jsonform-error-core_azimut').removeClass("hidden field");
										        $('.form-group.jsonform-error-core_dip').removeClass("hidden field");
										      $("input[name='core_depth']").val(values[2]);
                                              $("input[name='core_azimut']").val(values[3]);
                                              $("input[name='core_dip']").val(values[4]);


								            }else{
								            	 var radios = $('input:radio[name=core]');
								                radios.filter('[value=No]').prop('checked', true);

								            }
                                              
                                          }
                                           if (value == "BLOCK") {
                                           	if(values[1].toUpperCase()=='YES'){
								                var radios = $('input:radio[name=block]');
								                radios.filter('[value=Yes]').prop('checked', true);

								            }else{
								            	 var radios = $('input:radio[name=block]');
								                radios.filter('[value=No]').prop('checked', true);

								            }
                                              
                                           
                                          }
                                          if (value == "PULP") {
                                           	if(values[1].toUpperCase()=='YES'){
								                var radios = $('input:radio[name=pulp]');
								                radios.filter('[value=Yes]').prop('checked', true);

								            }else{
								            	 var radios = $('input:radio[name=pulp]');
								                radios.filter('[value=No]').prop('checked', false);

								            }
                                              
                                           
                                          }

                                           if (value == "METHODOLOGY") {
                                          	    if (values[1]=='SAMPLING_METHOD' ) {
                                          	    	$("input[name='methodology[].SAMPLING_METHOD']").val(values[2]);
                                          	    }else if(values[1]=='CONDITIONNING'){
                                          	    	$("input[name='methodology[].CONDITIONNING']").val(values[2]);
                                          	    }
                                          	    else if(values[1]=='SAMPLE_STORAGE'){
                                          	    	$("input[name='methodology[].SAMPLE_STORAGE']").val(values[2]);
                                          	    }else{
                                          	    	methodology = $('.methodology2 input').length;
                                          	    console.log(methodology)
                                              if (methodology <= 2) {
                                                  if ($("input[name='methodology2[0].Nature']").val() != "") {
                                          	     console.log(values[2]);
                                                        $(".methodology2 ._jsonform-array-addmore" ).trigger( "click" );
	                                                  	$('.methodology2 input')[methodology].value=values[1];
	                                                  	$('.methodology2 input')[methodology+1].value=values[2];
                                                  } else {
                                                      $("input[name='methodology2[0].Nature']").val(values[1]);
                                                      $("input[name='methodology3[0].description']").val(values[2]);
                                                  }
                                              }
                                                  
                                              
                                          	    }


                                          }


                                          if (value == "KEYWORD") {
                                          	    keyword = $('.keywords input').length;
                                          	    console.log(keyword)
                                              if (keyword <= 2) {
                                                  if ($("input[name='keywords[0].keyword']").val() != "") {
                                                     	$(".keywords ._jsonform-array-addmore" ).trigger( "click" );
	                                                  	$('.keywords input')[keyword].value=values[1];
                                                  } else {
                                                      $("input[name='keywords[0].keyword']").val(values[1]);
                                                  }
                                              }


                                          }
                                           if (value == "INSTITUTION") {
                                          	    institutions = $('.institutions select').length;
                                          	   console.log(institutions)
                                              if (institutions <= 2) {
                                                  if ($(".institutions input.search").val() != "") {

                                                  	$(".institutions ._jsonform-array-addmore" ).trigger( "click" );
                                                  	$('.institutions input.search')[institutions].value=values[1];

                                                  	$('.ui.dropdown[name*="institution"]')
													  .dropdown({
													    allowAdditions: true,
													  })
													;
                                                  	//$('.institutions input.search')[0].focus();
                                                  	
                                                  	$($('.institutions select')[institutions]).append('<option selected="selected" value="'+values[1]+'">'+values[1]+'</option>')


                                                  } else {
                                                      $('.institutions input.search')[0].value=values[1];
                                                      $('.institutions select').append('<option value="'+values[1]+'" class="addition">'+values[1]+'</option>')
                                                      $('.institutions div.menu').append(' <div class="item active selected" data-value="'+values[1]+'">'+values[1]+'</div>')
                                                      $($('.institutions select')[0]).append('<option selected="selected" value="'+values[1]+'">'+values[1]+'</option>')


                                                     

                                                      $('.institutions div.text').html('');
                                                     



                                                  }
                                              }


                                          }
                                            if (value == "SCIENTIFIC_FIELD") {
                                          	    scientific_fields = $('.scientific_fields select').length;
                                              if (scientific_fields <= 2) {
                                                  if ($(".scientific_fields input.search").val() != "") {
                                                      	$(".scientific_fields ._jsonform-array-addmore" ).trigger( "click" );
	                                                  	$('.scientific_fields input.search')[scientific_fields].value=values[1];
	                                                  	$('.scientific_fields input.search').focus();
	                                                  	$($('.scientific_fields select')[scientific_fields]).append('<option selected="selected" value="'+values[1]+'">'+values[1]+'</option>')


                                                  

                                                  } else {
                                                      $('.scientific_fields input.search')[0].value=values[1];
                                                      $('.scientific_fields div.text').html('');
	                                                  	$('.scientific_fields input.search')[0].focus();
	                                                  	$($('.scientific_fields select')[0]).append('<option selected="selected" value="'+values[1]+'">'+values[1]+'</option>')


                                                  }
                                              }


                                          }

                                          if (value == "DATA_DESCRIPTION" || value=="DESCRIPTION") {
                                          	if ($("textarea[name='description']").val()=='') {

                                              $("textarea[name='description']").val(values[1]);
                                          	}
                                          }

                                          if (value == "LANGUAGE") {
                                            
                                              $("select[name='language']").val(values[1]);
                                          }


                                         
                                         
                                          
                                      }
                                  });
                              });
                          }
                      }
                      $('#inputs').append('<div class="text" id="filenamemetadata">' + file['name'] + ' successfully loaded!</div>')
                  } else {
                      alert("Only CSV file are supported!")
                  }
              }
              document.getElementById('metadatafile').addEventListener('change', handleFileSelect, false);



	</script>
	<style type="text/css">

	._jsonform-array-buttons{

		float:right;
	}
	legend{
		border-bottom: none!important;
	}
	.accordion{
		padding-bottom: 10px;
	}


		html{
			font-size: 14px!important;
		}
		.modal{
			bottom:inherit!important;			
		}
		

		.expandable{
			cursor:  pointer;
		}
		select:disabled{
			background-color: #e8e8e8!important;
		}
		.ui.error.message{
			margin-top:9%;
		}

		
		fieldset.form-group{
			width: 37%;
		}

		.data{
	position: absolute;
    margin-left: 38%;
    margin-top: 6%;

		}
		.pictures{
			    position: absolute;
		    margin-top: 15%;
		    margin-left: 38%;
		}
		.files{
			margin-left: 38%
		}

		.delete{
			    float: right;
		}
		form{
			margin-top: 5%;
		}

		.files{
			position: absolute;
    margin-top: 28%;
		}

		.jsonform-error-sampling_date{
			    margin-top: 60%;
    margin-left: -37%;
		}

		.measurements{
			    margin-left: 25%;
    margin-top: 55%;
		}


	</style>
