{% include 'header.html.twig' %}
	
<script type="text/javascript" src="/jsonform/jquery.min.js"></script>
<script type="text/javascript" src="/jsonform/underscore.js"></script>
<script type="text/javascript" src="/jsonform/jsv.js"></script>
<script type="text/javascript" src="/jsonform/jsonform.js"></script>
<script type="text/javascript" src="/js/jquery.chained.js"></script>
<script type="text/javascript" src="/js/jquery.csv.js"></script>
  <script src="/css/semantic/dist/semantic.min.js">
  </script>
<link rel="stylesheet" type="text/css" href="/jsonform/css/bootstrap.css" />
<div class="ui grid container">
	<div class="row">
    <h1 class="ui dividing header">Upload new data</h1>
  </div>
	<div class="ui twelve wide column centered ">
	<!--<div id="inputs" class="ui ten wide column">
   <a href="/template_meta/template_metadata.csv"> <div class="text" >Download metadata template<i  id="donwloadmetadata" class="download large blue icon"> </i></div> </a>
   <div class="text" id="file-select-button">Click here to import metadata from a csv file<i id="uploadmetadata" class="upload large green icon"></i></div> 
   <input hidden type="file" id="metadatafile" name="metadata" />
  </div>-->
   <div id="warning" class="ui fourteen wide column centered">
      {% if error %}
      <div class="ui warning message">
         <div class="header">
            Warning!  
         </div>
         {{error}}
      </div>
      {% endif %}
		<form method="post" action="/{{route}}" class="ui form" name="form" enctype="multipart/form-data">
			{%if files%}
			   <div class="ui grid">
         
            	<h1>Linked files</h1>
            {%for file in files%}
               <div class="ui input">
                     <input id="text" type="text" name="file_already_uploaded[]" value={{file.DATA_URL}} readonly><div class="ui icon delete"><i class="remove icon"></i></div>
               </div>
            {%endfor%}
       
    </div>
            {%endif%}





		<div class="ui error message"></div>
		<a href="javascript:history.back();" class="ui red button"><i class="cancel icon"></i>Cancel</a>
<button type="submit" class="ui submit right floated green  button"><i class="checkmark icon"></i>Submit</button>
{%if edit%}
		<a onclick="remove();" class="ui  black  button"><i class="trash alternate icon"></i>Remove</a>		
{%endif%}
</form>		
	</div>
</div>

 <div class="ui modal remove">
     <i class="close icon"></i>
     <div class="header">
     </div>
     <div class="content">       
     </div>
 </div>

<script type="text/javascript">
	 $("body").on("click", ".delete", function(e) {
                  $(this).parent("div").remove();
              });
	function remove(){
		 $(".modal.remove .header").empty();
         $(".modal.remove .content").empty();
         $(".modal.remove .header").append('Are you sure to remove {{id}} ?  ');
         $(".modal.remove .content").append('<form class="ui form " action="/delete_data" method="post"><input type="hidden" name="csrf_name" value=""><input type="hidden" name="csrf_value" value=""><input type="hidden" name="id" value="{{id}}"> <div class="actions"> <div class="ui black deny button"> Cancel </div> <button class="ui submit green button" >Yes</button> </div> </form>');
         $('.ui.modal.remove').modal('show');
	}


	JSONForm.fieldTypes['lithology'] = {
		  template: '<%=node.value%>'
		};
		JSONForm.fieldTypes['texture'] = {
		  template: '<%=node.value%>'
		};
		JSONForm.fieldTypes['ore_type'] = {
		  template: '<%=node.value%>'
		};
		
		$('form').jsonForm({% include 'form_'~collection_name~'.html.twig' %});

		function switch_measurement(){

				value= $( "select[name='measurements[].abbreviation']" ).val();
				{%if collection_name == 'petrophysics'%}
				switch (value) {
				  case 'AMS':
					  nature="Anisotropy of Magnetic Susceptibility without ferrofluid" ;
					  unit="SI" ;
				   break;
				   case 'Tcond-D':
					  nature="Thermal Conductivity dry" ;
					  unit="W/m/K" ;
				   break;
				   case 'Tdif-D':
					  nature="Thermal Diffusivity dry" ;
					  unit="mm2/s" ;
				   break;
				   case 'P-Wave-D':
					  nature="P-wave Velocity dry" ;
					  unit="m/s" ;
				   break;
				   case 'S-Wave-D':
					  nature="S-wave Velocity dry" ;
					  unit="m/s" ;
				   break;
				   case 'GD':
					  nature="Grain Density";
					  unit="g/cm3" ;
				   break;
				   case 'Porosity-TW':
					  nature="Triple Weight Porosity" ;
					  unit="%" ;
				   break;
				   case 'Porosity-He':
					  nature="Helium Porosity" ;
					  unit="%" ;
				   break;
				   case 'Perm-Ni':
					  nature="Permeability Nitrogen" ;
					  unit="m2" ;
				   break;
				   case 'AMS-ferro':
					  nature="Anisotropty of Magnetic Susceptibility with ferrofluid saturation" ;
					  unit="SI" ;
				   break;
				   case 'Porosity-Hg':
					  nature="Mercury Porosity" ;
					  unit="%" ;
				   break;
				   case 'GD-powder':
					  nature="Grain Density with powder porphyriser" ;
					  unit="g/cm3" ;
				   break;
				   case 'S-Wave-W':
					  nature="S-wave Velocity wet" ;
					  unit="m/s" ;
				   break;
				   case 'SHC':
					  nature="Specific Heat Capacity" ;
					  unit="kJ/kg/K" ;
				   break;
				   case 'Tdif-W':
					  nature="Thermal Diffusivity wet" ;
					  unit="mm2/s" ;
				   break;
				   case 'Tcond-W':
					  nature="Thermal Conductivity wet" ;
					  unit="W/m/K" ;
				   break;
				   case 'Perm-F':
					  nature="Field Permeameter" ;
					  unit="m2" ;
				   break;
				   case 'P-Wave-W':
					  nature="P-wave Velocity wet" ;
					  unit="m/s" ;
				   break;
				     case 'MS':
					  nature="Magnetic susceptibility" ;
					  unit="SI" ;
				   break;
				 
				}
				{%endif%}

				{%if collection_name == 'scandium'%}
				switch (value) {
				 
				   case 'BGC':
					  nature="BULK_GEOCHEM" ;
					  unit="%WT_AND_PPMWT" ;
				   break;
				   case 'EMPA':
					  nature="ELECTRONIC_MICROPROBE" ;
					  unit="%WT" ;
				   break;
				   case 'LAICPMS':
					  nature="LA-ICP-MS" ;
					  unit="PPMWT" ;
				   break;
				 
				}

				{%endif%}


				{%if collection_name == 'acev'%}
				switch (value) {
				   case 'PHY-CHEM':
					  nature="PHY-CHEM" ;
					  unit="Text" ;
				   break;				 
				}

				{%endif%}


				$( "input[name='measurements[].nature']" ).val(nature);
				$( "input[name='measurements[].unit']" ).val(unit);
		  
		
		}

		 $(function() {
		$("#jsonform-1-elt-lithology2").chained("#jsonform-1-elt-lithology1");
		$("#jsonform-1-elt-lithology3").chained("#jsonform-1-elt-lithology2");
		$("#jsonform-1-elt-texture2").chained("#jsonform-1-elt-texture1");
		$("#jsonform-1-elt-texture3").chained("#jsonform-1-elt-texture2");
		$("#jsonform-1-elt-oretype2").chained("#jsonform-1-elt-oretype1");
		$("#jsonform-1-elt-oretype3").chained("#jsonform-1-elt-oretype2");
		$( "select[name='measurements[].abbreviation']" ).change(function() {
			switch_measurement();

		});

	});

$('.ui.form')
  .form({
    fields: {

data:{
	identifier: 'data',
	rules:[
	{
        type   : 'regExp',
        value  : '/^(.*.((csv|xlsx)$))?[^.]*$/i',
        prompt : 'Please upload a file in suggested format (CSV,XLSX)'
      }
 ]
},

      title: {
        identifier: 'title',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a title'
          }
        ]
      },
       sample_name: {
        identifier: 'sample_name',
        rules: [
          {
            type   : 'regExp[/^(?!_)[A-z0-9](?!_)*((-|)(?!_)*(?!_)[A-z0-9])*$/]',
            prompt : 'Please enter a sample name'
          }
        ]
      },
       sampling_date: {
        identifier: 'sampling_date',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter a sampling date'
          }
        ]
      },
       keywords: {
        identifier: 'keywords[0].keyword',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter at least one keyword'
          }
        ]
      },
       institutions: {
        identifier: 'institution[0].institution',
        rules: [
          {
            type   : 'empty',
            prompt : 'Please enter at least one institution'
          }
        ]
      },

       description: {
                          identifier: 'description',
                          rules: [{
                              type: 'empty',
                              prompt: 'Please enter description'
                          }]
                      },
       scientific_field: {
                          identifier: 'scientific_fields[0].scientific_field',
                          rules: [{
                              type: 'empty',
                              prompt: 'Please enter a scientific field'
                          }]
        },

       institutions: {
                          identifier: 'institution[0].institution',
                          rules: [{
                              type: 'empty',
                              prompt: 'Please enter institution'
                          }]
                      },
        sampling_points_name: {
                          identifier: 'sampling_points.NAME',
                          rules: [{
                              type: 'empty',
                              prompt: 'Please enter sampling point name'
                          }]
                      },
          sampling_points_COORDINATE_SYSTEM: {
                          identifier: 'sampling_points.COORDINATE_SYSTEM',
                          rules: [{
                              type: 'empty',
                              prompt: 'Please enter sampling point COORDINATE SYSTEM'
                          }]
                      },
           sampling_points_LONGITUDE: {
                          identifier: 'sampling_points.LONGITUDE',
                          rules: [{
                              type: 'regExp[/^(\\-?\\d+(\\.\\d+)?).\\s*(\\-?\\d+(\\.\\d+)?)$/]',
                              prompt: 'Please enter sampling point LONGITUDE'
                          }]
             },
            sampling_points_LATITUDE: {
                          identifier: 'sampling_points.LATITUDE',
                          rules: [{
                              type: 'regExp[/^(\\-?\\d+(\\.\\d+)?).\\s*(\\-?\\d+(\\.\\d+)?)$/]',
                              prompt: 'Please enter sampling point LATITUDE'
                          }]
             },
             sampling_points_ELEVATION: {
                          identifier: 'sampling_points.ELEVATION_M',
                          rules: [{
                              type: 'number',
                              prompt: 'Please enter sampling point ELEVATION'
                          }]
             },
               core: {
                          identifier: 'core',
                          rules: [{
                              type: 'checked',
                              prompt: 'Please specify core'
                          }]
             },
        
          block: {
                          identifier: 'block',
                          rules: [{
                              type: 'checked',
                              prompt: 'Please specify block'
                          }]
             },
            
        
        
      
    }
  })
;



$('.ui.dropdown[name*="scientific_fields"]')
  .dropdown({
    allowAdditions: true,
  })
;
$('.ui.dropdown[name*="institution"]')
  .dropdown({
    allowAdditions: true
  })
;
      $('.institutions div.text').html('Select a field or type one ')
      $('.scientific_fields div.text').html('Select a field or type one')

  {%for key,institution in institutions%}
        $('.institutions div.text').html('')

  if ($('.institutions input.search')[{{key}}].value=="") {
 
      $('.institutions input.search')[{{key}}].value='{{institution.NAME}}'
  }
;
    {%endfor%}

   {%for key,scientific_field in scientific_fields%}
         $('.scientific_fields div.text').html('')


  if ($('.scientific_fields input.search')[{{key}}].value=="") {
      $('.scientific_fields input.search')[{{key}}].value='{{scientific_field.NAME}}'
   
  }
;
    {%endfor%}

      {%if measurement_abbv%}

     $('select[name*=measurements]').val('{{measurement_abbv}}');
     switch_measurement();
  

    {%endif%}

     {%if methodology_sampling%}

     $('input[name*=methodology]')[0].value='{{methodology_sampling}}';
  

    {%endif%}

     {%if methodology_conditionning%}

     $('input[name*=methodology]')[1].value='{{methodology_conditionning}}';
  

    {%endif%}

     {%if methodology_sample_storage%}

     $('input[name*=methodology]')[2].value='{{methodology_sample_storage}}';
  

    {%endif%}

	{%if sampling_points%}
	{%for key,sampling_point in sampling_points%}
		{%for key,sampling_point in sampling_point%}

     $('.sampling_point input[name*={{key}}]').val('{{sampling_point}}');
     {%endfor%}
      {%endfor%}
  

    {%endif%}

/*function handleFileSelect(evt) {
                  $('#inputs #filenamemetadata').remove();
                  var files = evt.target.files; // FileList object
                  var file = files[0];
                  if (file['type'] == 'text/csv') {
                      var reader = new FileReader();
                      reader.readAsText(file);
                      reader.onload = function(event) {
                          var csv = event.target.result;
                          console.log(csv)
                          var data = $.csv.toArrays(csv);
                          if (data.length == 0) {
                              alert('Your CSV file is empty!')
                          } else {
                              if ($("input[name='title']").val() != "") {
                                  $('form')[1].reset();
                              }
                              $('.delete').parent().remove();
                              name = "";
                              firstname = "";
                              mail = "";
                              $.each(data, function(index, values) {
                                  $.each(values, function(index, value) {
                                      if (value != "") {
                                          if (value == "TITLE") {
                                              $("input[name='title']").val(values[1]);
                                          }
                                          if (value == "LANGUAGE") {
                                            
                                              $("select[name='language']").val(values[1]);
                                          }
                                         
                                         
                                          
                                      }
                                  });
                              });
                          }
                      }
                      $('#inputs').append('<div class="text" id="filenamemetadata">' + file['name'] + ' successfully loaded!</div>')
                  } else {
                      alert("Only CSV file are supported!")
                  }
              }
              document.getElementById('metadatafile').addEventListener('change', handleFileSelect, false);*/



	</script>
	<style type="text/css">

	._jsonform-array-buttons{

		float:right;
	}

		html{
			font-size: 14px!important;
		}
		.modal{
			bottom:inherit!important;			
		}
		

		.expandable{
			cursor:  pointer;
		}
		select:disabled{
			background-color: #e8e8e8!important;
		}
		.ui.error.message{
			margin-top:9%;
		}

	</style>
